  <ion-view view-title="{{selectedArticle.name}}" hide-nav-bar="false">

  <ion-content>
  
<!--     Article ID:  {{selectedArticle.key}} <br>
    Author ID:  {{selectedArticle.author}} <br> -->

<!-- 
          <div ng-repeat="selectedArticleInfo in selectedArticle">
          selectedArticleInfo -->
<!--           <div ng-repeat="img in selectedArticleImgs"><img src="{{img}}"></div>
          </div> -->


       <!--    <div ng-repeat="img in selectedArticle">
            <div ng-repeat="im in img">
              {{im}}<div ng-repeat="k in im"><img src="{{k}}"></div>
            </div> 
          </div> -->
          
          

          <!-- <div ng-init='foodieInfo=getSelectedArticleFoodieInfo(selectedArticle.author)'>
          {{foodieInfo.foodieName}}1
          </div> -->

       <div class="list">
          <div class="item item-avatar" ui-sref="app.profile({'foodieKey':selectedArticle.author})" >
            <img src="{{selectedArticleFoodie.foodieImg}}">
            <h2>{{selectedArticleFoodie.foodieName}}</h2>
            <script type="text/javascript" scr="services.js"> foodies.getFoodieInfo(foodieID)</script>


            <p>November 05, 1955</p>
          </div>


          <div class="item item-body" style="padding: 0px">
            
            <ion-slide-box does-continue="true" auto-play="true" style="padding-bottom: 15px">
             <!-- {{selectedArticle.articleImgs}} -->
             <!-- {{selectedArticle.articleImgs}} -->

<!--             <ion-slide ng-repeat="img in selectedArticle.articleImgs">
              <img class="full-image" src="{{img}}">
            </ion-slide>
 -->

            <ion-slide>
              <img class="full-image" src="{{selectedArticle.coverImage}}">
            </ion-slide>
            <ion-slide ng-repeat="img in selectedArticleImgs">
              <img class="full-image" src="{{img}}">
            </ion-slide>

            </ion-slide-box>


            <p>
              {{selectedArticle.name}}<br>
              {{selectedArticle.contents}}
              <br>
              <a href="#" class="subdued">{{selectedArticle.upVote}} Like</a>
              <a href="#" class="subdued">{{selectedArticle.articleRating}} % Positive</a>
            </p>
          </div>

          <div class="item" ui-sref="app.restaurant">
            <h2>{{selectedArticle.restaurantName}}</h2>
            <p>{{selectedArticle.location}}</p>
            <p>{{selectedArticle.type}}</p>
            <p>{{selectedArticle.timestamp}}</p>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left" style="height:49px; line-height:49px">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>
       </div>

  
  </ion-content>

 