<ion-view view-title="{{CampaignList[SelectedCity].Campaign[SelectedCampaign].Location}}" hide-nav-bar="false">

<ion-content>

	<div class="cardflat item-text-wrap" ng-cloak>
		<p><strong>Tips:</strong> Completing a mission unlocks the next mission. The search team has identified {{CampaignList[SelectedCity].Campaign[SelectedCampaign].MissionCount}} missions in this campaign.</p>
	</div>

	<div class="cardflat item-text-wrap" ng-repeat="(MissionID, Mission) in UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission" ng-cloak>
		
		<div class="pictureFrame" style="background-image: url({{Mission.CoverImg}});" ui-sref="app.MissionInfo({CityID: SelectedCity, CampaignID: SelectedCampaign, MissionID: MissionID})" href="#/app/List/City/{{SelectedCity}}/Campaign/{{SelectedCampaign}}/MissionInfo/{{MissionID}}">
			 
			<img src={{Mission.CoverImg}} style="visibility: hidden; width: 100%">
			<div class="backgroundGradient"></div>
			<div class="textShadow">{{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[MissionID].Location}}</div>

		</div>

	</div>

</ion-content>
