<ion-view view-title="{{SelectedCity}}" hide-nav-bar="false">

<ion-content>

	<div class="cardflat item-text-wrap" ng-repeat="(MissionID, Mission) in MissionList[SelectedCity]" ng-cloak>
		<div class="pictureFrame" style="background-image: url({{Mission.CoverImg}});">			
			<img src={{Mission.CoverImg}} style="visibility: hidden; width: 100%">
			<div class="backgroundGradient"></div>
			<div class="textShadow">{{Mission.Location}}</div>
		</div>

		<div ng-if="UserRecord[SelectedCity].Mission[MissionID] != null" ui-sref="app.MissionInfo({CityID: SelectedCity, MissionID: MissionID})" href="#/app/List/City/{{SelectedCity}}/MissionInfo/{{MissionID}}"class="play-bar">Play</div>
		<div ng-if="UserRecord[SelectedCity].Mission[MissionID] == null" ng-click="EnrollMission(MissionID)" class="enroll-bar">Enroll Now</div>

	</div>

</ion-content>

 