<ion-view view-title="{{SelectedCity}}" hide-nav-bar="false">

<ion-content>

	<label class="item item-input item-select item-dark item-select-style">
		<div class="input-label"><strong>Area</strong></div>
		<select ng-model="searchArea" ng-init="searchArea = 'All'">
			<option><strong>All</strong></option>
			<option><strong>Tsim Sha Tsui</strong></option>
			<option><strong>Central</strong></option>
		</select>
	</label>

<!-- 	<label class="item item-input item-select">
		<div class="input-label">Type</div>
		<select ng-model="searchType" ng-init="searchType = 'All'">
			<option>All</option>
			<option>Free</option>
			<option value="80">Paid</option>
		</select>
	</label>
	<label class="item item-input item-select">
		<div class="input-label">Status</div>
		<select ng-model="searchStatus" ng-init="searchStatus = 'All'">
			<option>All</option>
			<option>Complete</option>
			<option value="Current">In Progress</option>
		</select>
	</label> -->

	<div class="cardflat item-text-wrap" ng-repeat="(MissionID, Mission) in MissionList[SelectedCity]" ng-if="Mission.Area == searchArea || searchArea == 'All'" ng-cloak>
		<div class="pictureFrame" style="background-image: url({{Mission.CoverImg}});" ui-sref="app.MissionInfo({CityID: SelectedCity, MissionID: MissionID})" href="#/app/List/City/{{SelectedCity}}/MissionInfo/{{MissionID}}">			
			<img src={{Mission.CoverImg}} style="visibility: hidden; width: 100%">
			<div class="backgroundGradient"></div>
			<div class="textShadow">{{Mission.Location}}</div>
		</div>

		<div ng-if="UserRecord[SelectedCity].Mission[MissionID].MissionStatus == 'Complete'" class="complete-bar">Complete</div>
		<div ng-if="UserRecord[SelectedCity].Mission[MissionID].MissionStatus == 'Current'" class="play-bar">Available</div>
		<div ng-if="UserRecord[SelectedCity].Mission[MissionID] == null && MissionList[SelectedCity][MissionID].MissionType=='Free'" class="enroll-bar">Enroll Now [Free]</div>
		<div ng-if="UserRecord[SelectedCity].Mission[MissionID] == null && MissionList[SelectedCity][MissionID].MissionType=='80'" class="enroll-bar">Enroll Now [HK$48.0]</div>
	</div>

</ion-content>

 