<ion-modal-view>

  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-cross button-positive" ng-click="closeContactUs()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <div class="card item-text-wrap card-padding open-sans">
      <h2>Contact</h2>
      <p>If you run into any problem during beta testing, please contact Mike at the following details:</p>
      <div>
        <strong>Email :   </strong> <a href="mailto:mikebrianleung@gmail.com">mikebrianleung@gmail.com</a><br>
        <strong>Cell :   </strong>(852)9346-8427
      </div>

  </ion-content>

</ion-modal-view>