<ion-view view-title="Favourites"  hide-nav-bar="false">
  <ion-content style="background-color: #ffc">

  <button class="button button-block " ng-click="updateDatabase()" >Update_Database</button>

  <button class="button button-block " ng-click="CopyDatabase()" >CopyDatabase</button>
  
  <button class="button button-block "  ng-click="getToken(1)">GetToken</button>

  <button class="button button-block "  ng-click="openlogin()">Login Modal</button>

  <button class="button button-block "  ng-click="authPopup()">Facebook Login</button>
  
  </ion-content>
</ion-view>
