<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Mystic Glyphs Hosts</h1>
    <div class="buttons">
      <button class="button button-cross button-positive" ng-click="closeHostModal()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <div class="card item-text-wrap card-padding">
      <h3>About Us</h3>
      <p>We design adventurous experience. We believe the typical travel experience involves too much seeing and too little doing. We believe ordinary entertainment lacks engagement and surprise. Mystic Glyphs works with people who share our view to provide an alternative.</p>

      <h3>Hosts</h3>
      <p>Currently, we are recruiting up to 3 host partners from every city. Host partners design and maintain their own missions in their home town. Revenue from paid missions is shared between Mystic Glyphs and the respective mission's host (70% for Beta hosts). For Beta testing, each host would host 1 free and 1 paid mission.</p>

      <h3>Time Commitment?</h3>
      <p>From our experience, the time it takes to design a mission can vary but maintaining a mission should take less than 2 hours per week.</p>

      <h3>How?</h3>
      <p>For Beta testing, we are only considering hosts who have tried one of our existing missions. Simply fill out the experience survey (from the side menu) and indicate that you are interested in hosting. We will reach out to you for the details! Due to limited manpower, we will reach out to prospective hosts by batch (the next communication will come in ealry September).</p>

       <h3>Disclaimer</h3>
      <p>We are still figuring things out so many things will probably change (such as but not limited to mission requirements, mission format, and logistics). If you are interested in hosting but expect logistics and designs to be perfect, we advise you to wait a bit. All Rights Reserved.</p>

  </ion-content>

</ion-modal-view>