
<ion-view ng-cloak>

  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-cross button-positive" ng-click="startApp()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
  
    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide>
        <h3>Mystic Glyphs</h3>
        <div class="introPNG"><img src="https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/Intro%2FGlyphsIntro.png?alt=media&token=553b2d3f-0c34-4930-a9d1-2d9f2bc7a809"></div>
        <p>Buddy, welcome to the hunt.</p> 
        <button class="button button-positive button-block button-intro" ng-click="next()">Mystic Glyphs?</button>
      </ion-slide>

      <ion-slide>
        <h3>Travel & Hunt</h3>
        <div class="introPNG"><img src="https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/Intro%2FTravelAndHunt.png?alt=media&token=5dce3e95-9996-4860-a2af-9a8f443bdcaa"></div>
        <p class="intro-text">Rumor says Mystic Glyphs are clues that lead to the late Riddle Master's treasures. Amateur glyph hunting is a good activity for adventurous travelers.</p>
        <button class="button button-positive button-block button-intro" ng-click="next()">How do I hunt?</button>
      </ion-slide>

      <ion-slide>
        <h3>Mission & Glyphs</h3>
        <div class="introPNG"><img src="https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/Intro%2FMissionIcon.png?alt=media&token=9a98a594-e6e3-4baf-b689-6d5b2a22d37f"></div>
        <p class="intro-text">Each mission consists of 6 glyphs, they are mini challenges that take you through tourist attractions.</p>
        <button class="button button-positive button-block button-intro" ng-click="next()">Anything else?</button>
      </ion-slide>

      <ion-slide>
        <h3>Hunters' Rules</h3>
        <p class="list-align">Lastly, follow these rules so other hunters can also enjoy the experience:</p>
        <ul class="list-align">
          <li><br></li>
          <li>1) Be stealthy! Don't alarm the guards and citizens.</li>
          <li><br></li>
          <li>2) Return physical glyphs to where you found them.</li>
          <li><br></li>
          <li>3) Don't spoil the glyph secrets.</li>
        </ul>
        <button class="button button-positive button-block button-intro" ng-click="startApp()">Okay! Let's go!</button>
      </ion-slide>

    </ion-slide-box>

  </ion-content>

</ion-view>
