
<ion-view ng-cloak>

  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-cross button-dark" ng-click="startApp()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
  
    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide>
        <h3>Mystic Glyphs</h3>
        <div class="introPNG"><img src="https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/GlyphsIntro.png?alt=media&token=367496ad-9dc7-4ec0-b6b4-513a66e1435b"></div>
        <p>Buddy, welcome to the hunt.</p> 
        <button class="button button-dark button-block button-intro" ng-click="next()">Mystic Glyphs?</button>
      </ion-slide>

      <ion-slide>
        <h3>Travel & Hunt</h3>
        <p class="list-align">The late Riddle Master hid his treasures all over the world and mystic glyphs are the clues that lead to them. Typically, glyphs are located near landmarks and tourism areas.</p>
        <p class="list-align">While serious hunters strive to become the Master's successor, amateur glyphs hunting is a good activity for travelers who want to add some adventurous elements to their trip.</p>
        <button class="button button-dark button-block button-intro" ng-click="next()">How do I hunt?</button>
      </ion-slide>

      <ion-slide>
        <h3>Missions & Campaigns</h3>
        <p class="list-align">There are glyphs all over the world and our search team is working hard to identify them. To begin, select a city with glyphs identified.</p>
        <p class="list-align">Every mission consists of 6 glyphs, completing a mission leads to the next. Each campaign, typically made up of 3-4 missions, covers popular landmarks in an area and takes 3-4 hours to complete.</p>
        <button class="button button-dark button-block button-intro" ng-click="next()">Glyphs?</button>
      </ion-slide>

      <ion-slide>
        <h3>Glyphs</h3>
        <p class="list-align">Each glyph is a mini challenge. Solving a glyph progresses you toward mission completion and provides you with additional information for the other glyphs in the mission.</p>
        <p class="list-align">When at least 4 glyphs are solved, activation clue for the next mission becomes available. Some glyphs are super challenging so you don't have to solve all of them, 4 is enough!</p>
        <button class="button button-dark button-block button-intro" ng-click="next()">Anything else?</button>
      </ion-slide>

      <ion-slide>
        <h3>Hunters' Rules</h3>
        <p class="list-align">Lastly, follow these rules so other hunters can also enjoy the experience:</p>
        <ul class="list-align">
          <li>1) Be stealthy! Don't alarm the guards and citizens.</li>
          <li>2) Return glyphs to where you found them, they are the Riddle Master's legacy.</li>
          <li>3) Don't spoil the glyph secrets.</li>
        </ul>
        <button class="button button-dark button-block button-intro" ng-click="startApp()">Okay! Let's go!</button>
      </ion-slide>

    </ion-slide-box>

  </ion-content>

</ion-view>
