
<ion-view>

  <ion-header-bar>
    <h1 class="title">Mystic Glyphs</h1>
    <div class="buttons">
      <button class="button button-cross" ng-click="startApp()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>
  
    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide>
        <h3>Thank you for choosing the Awesome App!</h3>
        <div id="logo">
          <img src="https://code.ionicframework.com/assets/img/app_icon.png">
        </div>

        <button class="button button-block blue-fb button-login" ng-click="next()">Okay!</button>

        <p>
          Weve worked super hard to make you happy.
        </p>



      </ion-slide>

      <ion-slide>
        <h3>Using Awesome</h3>
        
        <div id="list">
          <h5>Just three steps:</h5>
          <ol>
            <li>Be awesome</li>
            <li>Stay awesome</li>
            <li>There is no step 3</li>
          </ol>
        </div>

        <button class="button button-block blue-fb button-login" ng-click="next()">Okay!</button>

      </ion-slide>
      <ion-slide>
        <h3>Any questions?</h3>
        <p>
          Too bad!
        </p>

        <button class="button button-block blue-fb button-login" ng-click="startApp()">Let's go!</button>

      </ion-slide>
    </ion-slide-box>

  </ion-content>

</ion-view>
