<ion-modal-view>

  <ion-header-bar>
    <h1 class="title"><strong>Leaderboard</strong></h1>
    <div class="buttons">
      <button class="button button-cross button-positive" ng-click="closeLeaderboard()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

  	<h1 class="center-align timer-box"><strong>{{UserRecord[SelectedCity].Mission[SelectedMission].Location}}</strong></h1>

  	<div class="item-text-wrap card-margin-standard" ng-cloak>
  		<div ng-repeat="(scoreID, Score) in Leaderboard[SelectedMission]" class="border-bottom">
	  		<div class="half text-align-left"><strong>{{$index+1}}</strong> {{Score.GroupName}}</div>
	  		<div class="half text-align-right"><i class="icon ion-ios-stopwatch-outline timer-icon"></i>  {{Score.Score | hourfilter}} <strong>:</strong> {{Score.Score | minutefilter}} <strong>' :</strong> {{Score.Score | secondfilter}}<strong>''</strong></div>
	  	</div>
		</div>

    <button class="button button-positive button-block button-intro" ng-click='closeLeaderboard()'>Close</button>

  </ion-content>

</ion-modal-view>