<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Leaderboard</h1>
    <div class="buttons">
      <button class="button button-cross button-positive" ng-click="closeLeaderboard()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

  	<div class="cardflat item-text-wrap" ng-repeat="(scoreID, Score) in Leaderboard[SelectedMission]" ng-cloak>
  		<div class="half">{{Score.groupName}}</div>
  		<div class="half">{{Score.Score}}</div>
		</div>

    <button class="button button-positive button-block button-intro" ng-click='closeLeaderboard()'>Close</button>

  </ion-content>

</ion-modal-view>