<ion-view view-title="Glyphs" hide-nav-bar="false">

<ion-content>

	<div class="cardflat item-text-wrap" ng-repeat="(CityID, City) in CityList">
		
		<div class="pictureFrame" style="background-image: url({{City.CoverImg}});" ui-sref="app.City({CityID: CityID})" href="#/app/List/City/{{CityID}}">
			<img src={{City.CoverImg}} style="visibility: hidden; width: 100%">
			<div class="backgroundGradient"></div>
			<div class="textShadow">{{City.CityName}}</div>
		</div>

	</div>

	<!--Upcoming-->
	<div class="cardflat item-text-wrap opaque">
		
		<div class="pictureFrame" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TaiwanComingSoon.png?alt=media&token=b8cd436d-ff90-4cf8-ab18-dc7f96657eaa);">
			<img src="https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TaiwanComingSoon.png?alt=media&token=b8cd436d-ff90-4cf8-ab18-dc7f96657eaa" style="visibility: hidden; width: 100%">
			<div class="backgroundGradient"></div>
			<div class="textShadow">Taiwan</div>
		</div>

	</div>

  <div class="glyphsList" ng-show='!userSignedIn' ng-cloak>
    <div class="introPNG"><img src="https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/GlyphsIntro.png?alt=media&token=367496ad-9dc7-4ec0-b6b4-513a66e1435b"></div>
    <p>Buddy, welcome to the hunt.</p> 
    <p>This is the mobile terminal where you will receive the latest intelligence from our glyphs search team.</p>
    <p>Login to access intelligence...</p>
    <button class="button button-block button-dark button-intro" ng-click="openlogin()" menu-close>Login</button>
  </div>

</ion-content>

 