<ion-view view-title="Mystic Glyphs" hide-nav-bar="false">

<ion-content>

	<div class="cardflat item-text-wrap"
		 ng-repeat="(CityID, City) in CampaignList">
		
		<div class="pictureFrame"
			 style="background-image: url({{City.CoverImg}});"
			 ui-sref="app.City({CityID: CityID})"
			 href="#/app/List/City/{{CityID}}">
			
			<img src={{City.CoverImg}} style="visibility: hidden; width: 100%">
			<div class="backgroundGradient"></div>
			<div class="textShadow">{{City.CityName}}</div>

		</div>

	</div>

</ion-content>

 