<ion-view view-title="Glyphs" hide-nav-bar="false">

<ion-content>

<!-- Angularjs loads too slowly -->
<!-- 	<div class="cardflat item-text-wrap" ng-repeat="(CityID, City) in CityList">
		<div class="pictureFrame" style="background-image: url({{City.CoverImg}});" ui-sref="app.City({CityID: CityID})" href="#/app/List/City/{{CityID}}">
			<img src={{City.CoverImg}} style="visibility: hidden; width: 100%">
			<div class="backgroundGradient"></div>
			<div class="textShadow">{{City.CityName}}</div>
		</div>
	</div> -->

	<!--Available Cities-->
	<div class="cardflat item-text-wrap" ng-show='userSignedIn'>
		
		<div class="pictureFrame" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/HongKong.png?alt=media&token=cf0d4098-8445-46b2-b317-15ec36de5c64);" ui-sref="app.City({CityID:'HongKong'})" href="#/app/List/City/HongKong">
			<img src="https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/HongKong.png?alt=media&token=cf0d4098-8445-46b2-b317-15ec36de5c64" style="visibility: hidden; width: 100%">
			<div class="backgroundGradient"></div>
			<div class="textShadow">Hong Kong (Beta) </div>
		</div>

	</div>

	<!--Upcoming-->
	<div class="cardflat item-text-wrap opaque" ng-show='userSignedIn'>
		<div class="pictureFrame" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TaiwanComingSoon.png?alt=media&token=cd5bf1b5-f2e9-4bb2-bf52-2a3659eb0283);">
			<img src="https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TaiwanComingSoon.png?alt=media&token=cd5bf1b5-f2e9-4bb2-bf52-2a3659eb0283" style="visibility: hidden; width: 100%">
			<div class="backgroundGradient"></div>
			<div class="textShadow">Taiwan</div>
		</div>
	</div>
	<div class="cardflat item-text-wrap opaque" ng-show='userSignedIn'>
		<div class="pictureFrame" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/Italy-Florence-ComingSoon.png?alt=media&token=e70e9a61-63a0-4a37-9bb3-30c9a5cd9105);">
			<img src="https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/Italy-Florence-ComingSoon.png?alt=media&token=e70e9a61-63a0-4a37-9bb3-30c9a5cd9105" style="visibility: hidden; width: 100%">
			<div class="backgroundGradient"></div>
			<div class="textShadow">Italy</div>
		</div>
	</div>	

	<!--If not logged in-->
  <div class="glyphsList" ng-show='!userSignedIn && !hideLogin' ng-cloak>
    <div class="introPNG"><img src="https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/Intro%2FGlyphsIntro.png?alt=media&token=553b2d3f-0c34-4930-a9d1-2d9f2bc7a809"></div>
    <p>Login to access intelligence.</p>
    <div class="cardflat">
      <label class="item item-text wrap">
        <button class="button button-block button-fbblue" ng-click="authPopup(); loadingLogin()">Facebook Login</button>
      </label>
      <div class ="item item-divider center-align-nomargin">
        <p><i class="icon ion-locked"></i>  This doesn't let the app post to Facebook</p>
      </div>
    </div>
  </div>

	<div class="loader-container" ng-show="!userSignedIn && hideLogin" ng-cloak><div class="loader"></div></div>

</ion-content>

 