<ion-view view-title="Map" hide-nav-bar="false">
  <ion-content>


    <div class="loader-container" ng-show="mapIsLoading" ng-cloak><div class="loader"></div></div>
     
    <div id="map" data-tap-disabled="true"></div>

    <div ng-if="UserRecord[SelectedCity].Mission[SelectedMission].StartTimeStamp == null" id="map-button" ui-sref="app.Mission({CityID: SelectedCity, MissionID: SelectedMission})" href="#/app/List/City/{{SelectedCity}}/MissionInfo/{{SelectedMission}}" class="button button-block button-positive" ng-click="startTimer(SelectedMission); TokenNumber = null"><strong>Begin (start timer)</strong></div>

    <div ng-if="UserRecord[SelectedCity].Mission[SelectedMission].StartTimeStamp" id="map-button" ui-sref="app.Mission({CityID: SelectedCity, MissionID: SelectedMission})" href="#/app/List/City/{{SelectedCity}}/MissionInfo/{{SelectedMission}}"class="button button-block button-positive" ng-click="TokenNumber = null"><strong>Play</strong></div>

  </ion-content>
</ion-view>