<ion-view view-title="{{MissionList[SelectedCity][SelectedMission].Location}}" hide-nav-bar="false">

<ion-content>

  <div class="cardflat item-text-wrap highlight-positive" ng-cloak>
    <div><strong>Tips:</strong> {{MissionList[SelectedCity][SelectedMission].Tips}}</div>
  </div>

<!--   <div class="cardflat item-text-wrap">
    <div class="item item-text-wrap">
        <h2>Mission Introduction</h2>
      <div ng-class="isInfoShown(mission) ? 'item-expand active' : 'item-expand inactive'">
        <p>{{MissionList[SelectedCity][SelectedMission].LocationDesc}}</p>
      </div>
      <div ng-click="toggleInfo(mission)" class="item-expand-footer">
        <i ng-class="isInfoShown(mission) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
        {{isInfoShown(mission) ? 'Less' : 'More' }}
      </div>
    </div>
  </div> -->

  <div class="cardflat item-text-wrap">
    <ion-list>
      <ion-item class="item-dark accordion-name" ng-click="toggleGroup(0)" ng-class="{active: isGroupShown(0)}">
          <i class="icon" ng-class="isGroupShown(0) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;Mission Introduction
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown(0)">
        {{MissionList[SelectedCity][SelectedMission].LocationDesc}}
      </ion-item>
      <ion-item class="item-dark accordion-name" ng-click="toggleGroup(1)" ng-class="{active: isGroupShown(1)}">
          <i class="icon" ng-class="isGroupShown(1) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;Opening Hours
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown(1)">
        {{MissionList[SelectedCity][SelectedMission].Hours}}
      </ion-item>
      <ion-item class="item-dark accordion-name" ng-click="toggleGroup(2)" ng-class="{active: isGroupShown(2)}">
          <i class="icon" ng-class="isGroupShown(2) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;Estimated Duration
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown(2)">
        {{MissionList[SelectedCity][SelectedMission].EstimatedDuration}}
      </ion-item>
      <ion-item class="item-dark accordion-name" ng-click="toggleGroup(3)" ng-class="{active: isGroupShown(3)}">
          <i class="icon" ng-class="isGroupShown(3) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;Difficulty Level
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown(3)">
        Glyphs Difficulty: {{MissionList[SelectedCity][SelectedMission].GlyphsDifficulty}} <br>
        Stealth Difficulty: {{MissionList[SelectedCity][SelectedMission].StealthDifficulty}} <br>
        Terrain Difficulty: {{MissionList[SelectedCity][SelectedMission].Terrain}}
      </ion-item>
      <ion-item ng-show="MissionList[SelectedCity][SelectedMission].OtherInfo" class="item-dark accordion-name" ng-click="toggleGroup(4)" ng-class="{active: isGroupShown(4)}">
          <i class="icon" ng-class="isGroupShown(4) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;Other Info
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown(4)">
        {{MissionList[SelectedCity][SelectedMission].OtherInfo}}
      </ion-item>
      <ion-item class="item-dark accordion-name" ng-click="toggleGroup(5)" ng-class="{active: isGroupShown(5)}">
          <i class="icon" ng-class="isGroupShown(5) ? 'ion-minus' : 'ion-plus'"></i>&nbsp;Direction
      </ion-item>
      <ion-item class="item-accordion" ng-show="isGroupShown(5)">
        {{MissionList[SelectedCity][SelectedMission].Direction}}
      </ion-item>
    </ion-list>
  </div>

  <div class="cardflat item item-text-wrap" ng-class="{'validation-white' : enrollMissionMessage == 'ready' || enrollMissionMessage == 'processing' || enrollMissionMessage == 'requestingServer', 'validation-green' : enrollMissionMessage == 'unlocked'}">
    
      <div ng-if="UserRecord[SelectedCity].Mission[SelectedMission] != null && UserRecord[SelectedCity].Mission[SelectedMission].StartTimeStamp" ui-sref="app.Mission({CityID: SelectedCity, MissionID: SelectedMission})" href="#/app/List/City/{{SelectedCity}}/MissionInfo/{{SelectedMission}}"class="button button-block button-positive" ng-click="TokenNumber = null"><strong>Play</strong></div>
      <div ng-if="UserRecord[SelectedCity].Mission[SelectedMission] != null && UserRecord[SelectedCity].Mission[SelectedMission].StartTimeStamp == null" ui-sref="app.Mission({CityID: SelectedCity, MissionID: SelectedMission})" href="#/app/List/City/{{SelectedCity}}/MissionInfo/{{SelectedMission}}"class="button button-block button-positive" ng-click="startTimer(SelectedMission)"><strong>Begin Mission (start timer)</strong></div>

      <div ng-if="UserRecord[SelectedCity].Mission[SelectedMission] == null && MissionList[SelectedCity][SelectedMission].MissionType == 'Free'" ng-click="enrollMission(SelectedMission)" class="button button-block button-assertive"><strong>Enroll Now [Free]</strong></div>

      <div ng-if="UserRecord[SelectedCity].Mission[SelectedMission] == null && MissionList[SelectedCity][SelectedMission].MissionType == '80'" ng-click="openPayment(SelectedMission, SelectedCity)" class="button button-block button-positive"><strong>Enroll Now [HK$80.0]</strong></div>

      <div ng-show="enrollMissionMessage == 'ready'">
        <h4 class="center-align"><br></h4>
      </div>
      <div ng-show="enrollMissionMessage == 'requestingServer'">
        <h4 class="center-align">Connecting to server...</h4>
      </div>
      <div ng-show="enrollMissionMessage == 'processing'">
        <h4 class="center-align">Checking availability...</h4>
      </div>
      <div ng-show="enrollMissionMessage == 'copyingMission'">
        <h4 class="center-align">Copying mission from DB...</h4>
      </div>
      <div ng-show="enrollMissionMessage == 'unlocked'">
        <h4 class="center-align">Success!</h4>
      </div>
<!--       <div ng-show="enrollMissionMessage == 'unsuccessful'">
        <h4 class="center-align">Mission is not available</h4>
      </div> -->
  </div>
</ion-content>
