<ion-view view-title="{{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Location}}" hide-nav-bar="false">

<ion-content>

  <div class="cardflat item-text-wrap">
    <div class="item item-text-wrap">
        <h2>Mission Introduction</h2>
      <div ng-class="isInfoShown(mission) ? 'item-expand inactive' : 'item-expand active'">
        <p>{{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].LocationDesc}}</p>
      </div>
      <div ng-click="toggleInfo(mission)" class="item-expand-footer">
        <i ng-class="isInfoShown(mission) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
        {{isInfoShown(mission) ? 'More' : 'Less' }}
      </div>
    </div>
  </div>

	<div class="cardflat item-text-wrap">
		<div ng-click = "TokenNumber = SelectedMission + '_1' ; selection = 1 ">
 			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_1'].ClaimStatus.toString() == 'Unlocked' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenUnlocked.png?alt=media&token=cc970ad1-4cea-4964-943c-1e02eb9dd451' class='oneThird' ng-class="{'selectedHighlight' : selection == 1, 'notSelected' : selection != 1}">
			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_1'].ClaimStatus.toString() == 'Pending' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenLocked.png?alt=media&token=cc5d4654-d4f7-430f-bf36-0f4c36fc5e8d' class='oneThird' ng-class="{'selectedHighlight' : selection == 1, 'notSelected' : selection != 1}">
		</div>
		<div ng-click = "TokenNumber = SelectedMission + '_2' ; selection = 2 ">
 			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_2'].ClaimStatus.toString() == 'Unlocked' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenUnlocked.png?alt=media&token=cc970ad1-4cea-4964-943c-1e02eb9dd451' class='oneThird' ng-class="{'selectedHighlight' : selection == 2, 'notSelected' : selection != 2}">
			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_2'].ClaimStatus.toString() == 'Pending' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenLocked.png?alt=media&token=cc5d4654-d4f7-430f-bf36-0f4c36fc5e8d' class='oneThird' ng-class="{'selectedHighlight' : selection == 2, 'notSelected' : selection != 2}">
		</div>
		<div ng-click = "TokenNumber = SelectedMission + '_3' ; selection = 3 ">
 			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_3'].ClaimStatus.toString() == 'Unlocked' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenUnlocked.png?alt=media&token=cc970ad1-4cea-4964-943c-1e02eb9dd451' class='oneThird' ng-class="{'selectedHighlight' : selection == 3, 'notSelected' : selection != 3}">
			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_3'].ClaimStatus.toString() == 'Pending' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenLocked.png?alt=media&token=cc5d4654-d4f7-430f-bf36-0f4c36fc5e8d' class='oneThird' ng-class="{'selectedHighlight' : selection == 3, 'notSelected' : selection != 3}">
		</div>
		<div ng-click = "TokenNumber = SelectedMission + '_4' ; selection = 4 ">
 			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_4'].ClaimStatus.toString() == 'Unlocked' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenUnlocked.png?alt=media&token=cc970ad1-4cea-4964-943c-1e02eb9dd451' class='oneThird' ng-class="{'selectedHighlight' : selection == 4, 'notSelected' : selection != 4}">
			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_4'].ClaimStatus.toString() == 'Pending' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenLocked.png?alt=media&token=cc5d4654-d4f7-430f-bf36-0f4c36fc5e8d' class='oneThird' ng-class="{'selectedHighlight' : selection == 4, 'notSelected' : selection != 4}">
		</div>
		<div ng-click = "TokenNumber = SelectedMission + '_5' ; selection = 5">
 			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_5'].ClaimStatus.toString() == 'Unlocked' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenUnlocked.png?alt=media&token=cc970ad1-4cea-4964-943c-1e02eb9dd451' class='oneThird' ng-class="{'selectedHighlight' : selection == 5, 'notSelected' : selection != 5}">
			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_5'].ClaimStatus.toString() == 'Pending' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenLocked.png?alt=media&token=cc5d4654-d4f7-430f-bf36-0f4c36fc5e8d' class='oneThird' ng-class="{'selectedHighlight' : selection == 5, 'notSelected' : selection != 5}">
		</div>
		<div ng-click = "TokenNumber = SelectedMission + '_6' ; selection = 6">
 			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_6'].ClaimStatus.toString() == 'Unlocked' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenUnlocked.png?alt=media&token=cc970ad1-4cea-4964-943c-1e02eb9dd451' class='oneThird' ng-class="{'selectedHighlight' : selection == 6, 'notSelected' : selection != 6}">
			<img ng-if="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[SelectedMission + '_6'].ClaimStatus.toString() == 'Pending' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenLocked.png?alt=media&token=cc5d4654-d4f7-430f-bf36-0f4c36fc5e8d' class='oneThird' ng-class="{'selectedHighlight' : selection == 6, 'notSelected' : selection != 6}">
		</div>
	</div>

  <div class="cardflat item-text-wrap" ng-show="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].Tips">
    <div><strong>Tips:</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].Tips}}</div>
  </div>

	<div class="cardflat item-text-wrap lastcard">

		<h4 ng-show="TokenNumber == null">Select a glyph for information</h4>

		<div ng-show="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].ClaimStatus == 'Pending'">
			<strong>Glyph Name :</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].TokenName}} <br>
			<strong>Glyph Message :</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].TokenMsg}} <br>
			<strong>Search Hints :</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].SearchHints}} <br>
			<br>
		</div>

		<div ng-show="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].ClaimStatus == 'Unlocked'">
				<p>Good job! These are the additional hints you unlocked for finding this glyph:</p>
        <div ng-show="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintA">
        	<strong>Hint:</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintA}}
        </div>
        <div ng-show="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintB">
        	<strong>Hint:</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintB}}
      	</div>
      	<div ng-show="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintC">
        	<strong>Hint:</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintC}}
      	</div>
      	<div ng-show="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintD">
        	<strong>Hint:</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintD}}
        </div>
        <div ng-show="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintE">
        	<strong>Hint:</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintE}}
        </div>
		</div>

		<div ng-if="TokenNumber">
	 		<div ng-show="UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].ClaimStatus == 'Pending'">
					<button class="button center-align button-dark" ng-click='openTokenClaim(TokenNumber, TokenList[TokenNumber])'>Glyph Claim</button>
			</div>
		</div>

	</div>

	<div ng-show="SelectedMission.substr(length-1) < UserRecord[SelectedCity].Campaign[SelectedCampaign].MissionCount && UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].TokenUnlocked > 3">
			<button class="button center-align button-balanced" ng-click="nextMission(SelectedMission, SelectedCity, SelectedCampaign)" menu-close>Unlock Next Level</button>
  </div>

  <div ng-show="SelectedMission.substr(length-1) == UserRecord[SelectedCity].Campaign[SelectedCampaign].MissionCount && UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].TokenUnlocked > 3">
		<button class="button center-align button-balanced" ui-sref="app.City({CityID: SelectedCity})" href="#/app/List/City/{{SelectedCity}}" menu-close>Campaign Completed!</button>
  </div>


</ion-content>
