<ion-view view-title="{{UserRecord[SelectedCity].Mission[SelectedMission].Location}}" hide-nav-bar="false">

<ion-content>

  <div class="cardflat item-text-wrap" ng-cloak>
    <div><strong>Tips:</strong> {{UserRecord[SelectedCity].Mission[SelectedMission].Tips}}</div>
  </div>

  <div class="cardflat item-text-wrap">
    <div class="item item-text-wrap">
        <h2>Mission Introduction</h2>
      <div ng-class="isInfoShown(mission) ? 'item-expand active' : 'item-expand inactive'">
        <p>{{UserRecord[SelectedCity].Mission[SelectedMission].LocationDesc}}</p>
      </div>
      <div ng-click="toggleInfo(mission)" class="item-expand-footer">
        <i ng-class="isInfoShown(mission) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
        {{isInfoShown(mission) ? 'Less' : 'More' }}
      </div>
    </div>
  </div>

  <div class="cardflat item-text-wrap">
    <div class="item item-text-wrap">
      <h2>Mission Information</h2>
      <div>
        Opening Hours: {{UserRecord[SelectedCity].Mission[SelectedMission].Hours}} <br>
        Estimated Duration: {{UserRecord[SelectedCity].Mission[SelectedMission].EstimatedDuration}} <br>
        Terrain: {{UserRecord[SelectedCity].Mission[SelectedMission].Terrain}} <br>
        Glyphs Difficulty: {{UserRecord[SelectedCity].Mission[SelectedMission].GlyphsDifficulty}} <br>
        Stealth Difficulty: {{UserRecord[SelectedCity].Mission[SelectedMission].StealthDifficulty}} <br>
        Direction: {{UserRecord[SelectedCity].Mission[SelectedMission].Direction}} <br>
      </div>
    </div>
  </div>

	<div> 
			<button class="button center-align button-positive" ui-sref="app.Mission({CityID: SelectedCity, CampaignID: SelectedCampaign, MissionID: SelectedMission})" href="#/app/List/City/{{SelectedCity}}/Mission/{{MissionID}}">Begin Mission</button>
  </div>


</ion-content>
