<ion-view view-title="{{UserRecord[SelectedCity].Mission[SelectedMission].Location}}" hide-nav-bar="false">

<ion-content>

  <div class="item-text-wrap timer-box" ng-show="UserRecord[SelectedCity].Mission[SelectedMission].Duration==null && timerHours" ng-cloak>
    <div><i class="icon ion-ios-stopwatch-outline timer-icon"></i> {{timerHours}} <strong>:</strong> {{timerMinutes}}<strong>' :</strong> {{timerSeconds}}<strong>''</strong><strong class="glyph-count">{{UserRecord[SelectedCity].Mission[SelectedMission].TokenUnlocked}}/4</strong></div>
  </div>
  
  <div class="item-text-wrap timer-box timer-box" ng-show="UserRecord[SelectedCity].Mission[SelectedMission].Duration && durationHours" ng-cloak>
  	<div><strong class="timer-missioncomplete">Mission Complete!</strong></div>
    <div><i class="icon ion-flag timer-icon"></i> {{durationHours}} <strong>:</strong> {{durationMinutes}}<strong>' :</strong> {{durationSeconds}}<strong>''</strong></div>
  </div>

	<div class="inline-block-container" ng-show="UserRecord[SelectedCity].Mission[SelectedMission].Duration && durationHours" ng-cloak>
		<div class="inline-block">
			<button class="button button-positive" ng-click='openSubmitScore(SelectedMission, SelectedCity)'>Submit Score</button>
		</div>
		<div class="inline-block">
			<button class="button button-positive" ng-click='openLeaderboard(SelectedMission, SelectedCity)'>Leaderboard</button>
		</div>
	</div>

  <div class="cardflat item-text-wrap highlight-positive" ng-show="UserRecord[SelectedCity].Mission[SelectedMission].Token[TokenNumber].Tips">
    <div><strong>Tips:</strong> {{UserRecord[SelectedCity].Mission[SelectedMission].Token[TokenNumber].Tips}}</div>
  </div>

  <div class="cardflat item-text-wrap">
		<div class ='oneSixth' ng-repeat="n in [1,2,3,4,5,6]" >
			<div class='oneSixthCenter'><strong>{{n}}</strong></div>
		</div>
		<div ng-repeat="n in [1,2,3,4,5,6]" ng-init = "glyphSelection">
			<div ng-click = "selectGlyph(SelectedMission, n); scrollResize()">
				<img ng-if="UserRecord[SelectedCity].Mission[SelectedMission].Token[SelectedMission + '_' + n].ClaimStatus.toString() == 'Unlocked' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenUnlocked.png?alt=media&token=cc970ad1-4cea-4964-943c-1e02eb9dd451' class='oneSixth' ng-class="{'selectedHighlight' : glyphSelection == n, 'notSelected' : glyphSelection != n}">
				<img ng-if="UserRecord[SelectedCity].Mission[SelectedMission].Token[SelectedMission + '_' + n].ClaimStatus.toString() == 'Pending' " src='https://firebasestorage.googleapis.com/v0/b/mysticglyphs.appspot.com/o/TokenLocked.png?alt=media&token=cc5d4654-d4f7-430f-bf36-0f4c36fc5e8d' class='oneSixth' ng-class="{'selectedHighlight' : glyphSelection == n, 'notSelected' : glyphSelection != n}">
			</div>
		</div>
		<h4 ng-show="TokenNumber == null" class="float-left">You can solve glyphs in any order</h4>
		<div ng-show="UserRecord[SelectedCity].Mission[SelectedMission].Token[TokenNumber].ClaimStatus == 'Pending'">
			<div class="float-left">
				<br>
				<strong>Glyph Name :</strong> {{UserRecord[SelectedCity].Mission[SelectedMission].Token[TokenNumber].TokenName}} <br>
				<strong>Glyph Message :</strong> {{UserRecord[SelectedCity].Mission[SelectedMission].Token[TokenNumber].TokenMsg}} <br>
				<strong>Search Hints :</strong> {{UserRecord[SelectedCity].Mission[SelectedMission].Token[TokenNumber].SearchHints}} <br>
				<br>
			</div>
			<div class="inline-block-container">
		 		<div class="inline-block">
						<button class="button button-positive" ng-click='openTokenClaim(TokenNumber,SelectedMission, SelectedCity)'>Claim Glyph</button>
				</div>
				<div ng-show="UserRecord[SelectedCity].Mission[SelectedMission].Token[TokenNumber].TokenImg != '<img>'" class="inline-block">
					<button class="button button-positive" ng-click='openImageHint(TokenNumber,SelectedMission, SelectedCity)'>See Image Hint</button>
				</div>
			</div>
		</div>
		<div ng-show="UserRecord[SelectedCity].Mission[SelectedMission].Token[TokenNumber].ClaimStatus == 'Unlocked'" class="float-left">
			<br>
			<p><strong>Good job!</strong> Solving each glyph unlocks clues for other glyphs.</p>
			<button class="button center-align button-positive" ng-click='openUnlockedHints(SelectedMission, SelectedCity)'> See All Unlocked Hints</button>
		</div>
	</div>

<!-- 

  <div ng-show="SelectedMission.substr(length-1) == UserRecord[SelectedCity].Campaign[SelectedCampaign].MissionCount && UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].TokenUnlocked > 3">
		<button class="button center-align button-balanced" ui-sref="app.City({CityID: SelectedCity})" href="#/app/List/City/{{SelectedCity}}" menu-close>Campaign Completed!</button>
  </div> -->


</ion-content>
