<ion-view view-title="{{MissionList[SelectedCity].Mission[SelectedMission].Location}}" hide-nav-bar="false">

<ion-content>

  <div class="cardflat item-text-wrap" ng-cloak>
    <div><strong>Tips:</strong> {{MissionList[SelectedCity][SelectedMission].Tips}}</div>
  </div>

  <div class="cardflat item-text-wrap">
    <div class="item item-text-wrap">
        <h2>Mission Introduction</h2>
      <div ng-class="isInfoShown(mission) ? 'item-expand active' : 'item-expand inactive'">
        <p>{{MissionList[SelectedCity][SelectedMission].LocationDesc}}</p>
      </div>
      <div ng-click="toggleInfo(mission)" class="item-expand-footer">
        <i ng-class="isInfoShown(mission) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
        {{isInfoShown(mission) ? 'Less' : 'More' }}
      </div>
    </div>
  </div>

  <div class="cardflat item-text-wrap">
    <div class="item item-text-wrap">
      <h2>Mission Information</h2>
      <div>
        Opening Hours: {{MissionList[SelectedCity][SelectedMission].Hours}} <br>
        Estimated Duration: {{MissionList[SelectedCity][SelectedMission].EstimatedDuration}} <br>
        Terrain: {{MissionList[SelectedCity][SelectedMission].Terrain}} <br>
        Glyphs Difficulty: {{MissionList[SelectedCity][SelectedMission].GlyphsDifficulty}} <br>
        Stealth Difficulty: {{MissionList[SelectedCity][SelectedMission].StealthDifficulty}} <br>
        Direction: {{UMissionList[SelectedCity][SelectedMission].Direction}} <br>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="item item-text-wrap" ng-class="{'validation-white' : enrollMissionMessage == 'ready' || enrollMissionMessage == 'processing', 'validation-green' : enrollMissionMessage == 'unlocked', 'validation-red' : enrollMissionMessage == 'unsuccessful'}">
      <div ng-if="UserRecord[SelectedCity].Mission[SelectedMission] != null" ui-sref="app.Mission({CityID: SelectedCity, MissionID: SelectedMission})" href="#/app/List/City/{{SelectedCity}}/MissionInfo/{{SelectedMission}}"class="button button-block button-positive"><strong>Play</strong></div>
      <div ng-if="UserRecord[SelectedCity].Mission[SelectedMission] == null" ng-click="enrollMission(SelectedMission)" class="button button-block button-assertive"><strong>Enroll Now</strong></div>
      <div ng-show="enrollMissionMessage == 'ready'">
        <h4 class="center-align"><br></h4>
      </div>       
      <div ng-show="enrollMissionMessage == 'processing'">
        <h4 class="center-align">Checking availability</h4>
      </div>
      <div ng-show="enrollMissionMessage == 'unlocked'">
        <h4 class="center-align">Success!</h4>
      </div>
      <div ng-show="enrollMissionMessage == 'unsuccessful'">
        <h4 class="center-align">Mission is not available</h4>
      </div>
    </div>
  </div>

</ion-content>
