<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Mission Enrollment</h1>
    <div class="buttons">
      <button class="button button-cross button-positive" ng-click="closePayment()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

        <label class="item item-input">
          <span class="input-label">Card number</span>
          <input type="text" size="20" ng-model="FormData.number" placeholder="4242 4242 4242 4242"/>
        </label>
        
        <label class="item item-input">
          <span class="input-label">Exp. Mth (MM)</span>
          <input type="text" size="2" ng-model="FormData.exp_month"/ placeholder="01">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Exp. Year (YYYY)</span>
          <input type="text" size="4" ng-model="FormData.exp_year"/ placeholder="2020">
        </label>
        
        <label class="item item-input">
          <span class="input-label">Sec. Code (CVC)</span>
          <input type="text" size="4" ng-model="FormData.cvc"/ placeholder="123">
        </label>
      

        <div class="padding center">
          <button class="button button-block button-balanced" ng-click="createToken()">Submit</button>
        </div>
        
        <div class="padding center">
          <p ng-show="ResponseData.loading">
            Loading...
          </p>
          <p ng-show="ResponseData.token">
            Token: <strong>{{ResponseData.token}}</strong>
          </p>
          <p ng-show="ResponseData.paymentId">
            Payment Id: <strong>{{ResponseData.paymentId}}</strong>
          </p>
        </div>

  </ion-content>

</ion-modal-view>