<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Mission Enrollment</h1>
    <div class="buttons">
      <button class="button button-cross button-positive" ng-click="closePayment()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="cardflat-bigmargin item item-text-wrap" ng-class="{'validation-white' : enrollMissionMessage == 'ready' || enrollMissionMessage == 'processing' || enrollMissionMessage == 'requestingServer' || enrollMissionMessage == 'copyingMission', 'validation-green' : enrollMissionMessage == 'unlocked'}">
      <label class="item item-input">
        <i class="icon ion-card"></i>
        <input ng-model="FormData.number" placeholder="Card number"/>
      </label>
      <label class="item item-input">
        <i class="icon ion-calendar"></i>
        <input ng-model="FormData.exp_month"/ placeholder="MM">
      </label>
      <label class="item item-input">
        <i class="icon ion-calendar"></i>
        <input ng-model="FormData.exp_year"/ placeholder="YYYY">
      </label>
      <label class="item item-input">
        <i class="icon ion-locked"></i>
        <input ng-model="FormData.cvc"/ placeholder="CVC">
      </label>
      <div class="padding center">
        <button class="button button-block button-balanced" ng-click="createToken(SelectedMission, FormData)">Pay HK$80.0</button>
      </div>

      <div ng-show="ResponseData.loading">
        <h4 class="center-align">Validating card info...</h4>
      </div>
      <div ng-show="txnStatus == 'tokenCreated'">
        <h4 class="center-align">Requesting transaction...</h4>
      </div>
      <div ng-show="txnStatus == 'txnRegistered' && enrollMissionMessage =='ready'">
        <h4 class="center-align">Transaction completed. Requesting mission...</h4>
      </div>
      <div ng-show="enrollMissionMessage == 'ready'">
        <h4 class="center-align"><br></h4>
      </div>
      <div ng-show="enrollMissionMessage == 'requestingServer'">
        <h4 class="center-align">Connecting to server...</h4>
      </div>
      <div ng-show="enrollMissionMessage == 'processing'">
        <h4 class="center-align">Checking availability...</h4>
      </div>
      <div ng-show="enrollMissionMessage == 'copyingMission'">
        <h4 class="center-align">Copying mission from DB...</h4>
      </div>
      <div ng-show="enrollMissionMessage == 'unlocked'">
        <h4 class="center-align">Success!</h4>
      </div>
    </div>
  </ion-content>
</ion-modal-view>