<ion-view view-title="Restaurant" hide-nav-bar="false">

<ion-nav-title>
  <div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input ng-model="search_text" type="text" placeholder="Restaurant Name" focus-me my-enter="search_model(search_text)" autofocus style="text-align: center;">
    </label>
  </div>
</ion-nav-title>


  <ion-content style="background-color: #ffc">

  <div class="profile-background" style="background-image: url('img/food2.jpg');">
  </div>

  <div class="profile-content">
      
      <img class="profile-img" src= 'img/impin-bg.jpg'>
    <h3>Restautant Name</h3>
    <p>Location/Tel</p>

      <div class="button-bar bar-balanced">
            <a class="button ion-button" ng-click="slide(0)">Info</a>
            <a class="button ion-button" ng-click="slide(1)">Articles</a>
      </div>

        <div>
            <ion-slide-box class="delegate-handle" on-slide-changed="scrollTop()" on-slide-changed="activateTabs($index)"  show-pager="false" >
                <ion-slide>
                <!--ion-scroll style="height:auto; overflow:hidden;"-->
                    <ion-item class="card item-text-wrap" style="text-align: left;">
                        Tel: 2800-0000 <br>
                        Location: 1QRC, Central, Hong Kong <br>
                        Type: Western <br>
                        Spending: High 
                    </ion-item>
                    <ion-item class="card item-text-wrap" style="text-align: left;">
                        Ranking: <br>
                        95% Up vs Down for articles recommened this restaurant<br>
                        Total 18 Foodies recommended this restaurant <br>
                        <img src= 'img/jon-snow.jpg' class="avatarCircle">
                        <img src= 'img/tyrion.jpg' class="avatarCircle">
                        <img src= 'img/sansa.jpg' class="avatarCircle">
                        <img src= 'img/daenerys.jpg' class="avatarCircle">
                        <img src= 'img/arya.jpg' class="avatarCircle">
                        and more ...
                    </ion-item>

                    <ion-item class="card item-text-wrap" style="padding: 0px">
                    <div class="oneThird"> <img src= 'img/squareFood1.jpg' style="width: 100%; padding: 0px"> </div>
                    <div class="oneThird"> <img src= 'img/squareFood2.jpg' style="width: 100%; padding: 0px"> </div>
                    <div class="oneThird"> <img src= 'img/squareFood3.jpg' style="width: 100%; padding: 0px"> </div>
                    <div class="oneThird"> <img src= 'img/squareFood1.jpg' style="width: 100%; padding: 0px"> </div>
                    <div class="oneThird"> <img src= 'img/squareFood3.jpg' style="width: 100%; padding: 0px"> </div>
                    <div class="oneThird"> <img src= 'img/squareFood2.jpg' style="width: 100%; padding: 0px"> </div>
                    <div class="quarter"> <img src= 'img/squareFood1.jpg' style="width: 100%; padding: 0px"> </div>
                    <div class="quarter"> <img src= 'img/squareFood2.jpg' style="width: 100%; padding: 0px"> </div>
                    <div class="quarter"> <img src= 'img/squareFood3.jpg' style="width: 100%; padding: 0px"> </div>
                    <div class="quarter"> <img src= 'img/squareFood1.jpg' style="width: 100%; padding: 0px"> </div>
                    <div class="quarter"> <img src= 'img/squareFood1.jpg' style="width: 100%; padding: 0px"> </div>
                    <div class="quarter"> <img src= 'img/squareFood2.jpg' style="width: 100%; padding: 0px"> </div>                    
                    </ion-item>

                    <ion-item class="card item-text-wrap">
                    <div class="imageHalf" style="width:50%"> <img src= 'img/Food1.jpg'> </div>
                    <div class="imageHalf"> <img src= 'img/Food1.jpg'> </div>
                    <div class="imageHalf"> <img src= 'img/login.png'> </div>
                    <div class="imageHalf"> <img src= 'img/login.png'> </div>
                    <div class="imageHalf"> <img src= 'img/login.png'> </div>
                    <div class="imageHalf"> <img src= 'img/login.png'> </div>  
                    </ion-item>
                <!--/ion-scroll-->     
                </ion-slide>
                
                <ion-slide>
                <!--ion-scroll style="height:100vh; overflow:hidden;"-->
                    <ion-item class="card item-text-wrap" ng-repeat="article in articles| filter:searchText">
                        <div class="item item-divider" ng-click="toggleGroup(article)">
                        <p>{{article.name}}</p>
                        </div>
                        
                        <div class="item item-image" ng-click="toggleGroup(article)" ng-class="{active: isGroupShown(article)}">
                        <img src= {{article.cover}}>
                        </div>

                        <div class="item-accordion" ng-show="isGroupShown(article)">
                        {{article.details}}<br>
                        {{article.details}}<br>
                        <button class="button icon-left button-assertive icon ion-heart button-clear">Wanna Try</button>
                        <button class="button icon-left button-positive icon ion-thumbsup button-clear">Like!</button>
                        <button class="button icon-left button-positive icon ion-thumbsdown button-clear">Inaccruate</button>
                        </div>

                        <div class="item item-avatar-left">
                        <img src= {{article.foodieimg}}>
                        {{article.foodie}}<br>
                        <i class="icon ion-clock"></i> {{article.age}}
                        <i class="icon ion-stats-bars"></i> {{article.rating}} 
                        </div>     
                    </ion-item>
                <!--/ion-scroll-->
                </ion-slide>
            </ion-slide-box>
        </div>



    </div>



  </ion-content>
</ion-view>
