<ion-view view-title="Current Missions" hide-nav-bar="false">
  
  <ion-content>
    
    <div  class="cardflat item-text-wrap"
          ng-repeat="mission in user.missionList"
          ng-if="mission.missionStatus === 'Current'"
          ng-init='missionInfo=getMissionInfo(mission.missionID)'>

      <div class="card">
        <div  class="pictureFrame" 
              style="background-image: url({{missionInfo.missionCover}});" 
              ui-sref="app.missionDetails({'missionID':missionInfo.$id})">
          <img src={{missionInfo.missionCover}} style="visibility: hidden; width: 100%">
          <div class="backgroundGradient"></div>
          <div class="textShadow">{{missionInfo.missionLocation}}</div>
        </div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <div ng-class="isInfoShown(mission) ? 'item-expand active' : 'item-expand inactive'">
            <p>{{missionInfo.missionInfo}}</p>
          </div>
          <div ng-click="toggleInfo(mission)" class="item-expand-footer">
            <i ng-class="isInfoShown(mission) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
            {{isInfoShown(mission) ? 'Less' : 'More' }}
          </div>
        </div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <form>
            <h3>claim tokens for saving friends!</h3>
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">Token code</span>
                <input type="text" ng-model="tokenInput.code" placeholder="enter token code...">
              </label>
              <button type="submit" class="button button-block button-balanced" ng-click="claimToken(tokenInput.code)"> Claim Token </button>
            </div>
          </form>
        </div>
      </div>


      <div class="card" ng-init="tokenClaimedNumber=getTokenClaimedNumber(mission.missionID)">
        <h5>Friends Saved {{tokenClaimedNumber}}/10</h5>
        <div class="item item-text-wrap">
          <div  ng-repeat="tokenID in missionInfo.missionToken" 
                ng-init="tokenStatus=getTokenClaimedStatus(tokenID)">
            {{tokenID}} {{tokenStatus}}
          </div>
        </div>
      </div>

      <div class="card">
        <div class="item item-text-wrap">
          <div class="item">
            Friend Saved: {{mission.friendSaved}} <br>
            Token Claimed: {{mission.tokenClaimed}} <br>
            Completed Time: {{mission.endTime}} <br>  
            Location: {{missionInfo.missionLocation}} <br>
            Info: {{missionInfo.missionInfo}} <br>
          </div>
        </div>
      </div>



    </div>

  </ion-content>

</ion-view>