

<ion-view hide-nav-bar="false" ng-init="getCurrentMission()">
  <ion-nav-title>{{currentMission.name}}</ion-nav-title>

  <ion-content>

    <div  class="cardflat item-text-wrap"
          ng-repeat="mission in user.missionList"
          ng-if="mission.missionID === missionID"
          ng-init="missionInfo=getMissionInfo(mission.missionID);
                   tokenClaimed=getTokenClaimed(mission.missionID)"> </div>

      <div  class="pictureFrame" 
            style="background-image: url({{missionInfo.missionCover}});" 
            ui-sref="app.missionDetails({'missionID':missionInfo.$id})">

        <img src={{missionInfo.missionCover}} style="visibility: hidden; width: 100%">
        <div class="backgroundGradient"></div>
        <div class="textShadow">{{missionInfo.missionLocation}}</div>

      </div>

    <div class="card">
      <div class="item item-text-wrap">
        <div ng-class="isInfoShown(currentMission) ? 'item-expand active' : 'item-expand inactive'">
          <p>{{ currentMission.info }}</p>
        </div>
        <div ng-click="toggleInfo(currentMission)" class="item-expand-footer">
          <i ng-class="isInfoShown(currentMission) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
          {{ isInfoShown(currentMission) ? 'Less' : 'More' }}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">

        <div class="item">
          Friend Saved: {{mission.friendSaved}} <br>
          Token Claimed: {{mission.tokenClaimed}} <br>
          Completed Time: {{mission.endTime}} <br>  
          Location: {{missionInfo.missionLocation}} <br>
          Info: {{missionInfo.missionInfo}} <br>
        </div>

      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <form>

          <h3>find the tokens, save the friends!</h3>
          <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">Token code</span>
                <input type="text" ng-model="tokenInput.code" placeholder="enter token code...">
              </label>
              <button type="submit" class="button button-block button-balanced" ng-click="claimToken(tokenInput.code)"> Claim Token </button>

          </div>

        </form>
      </div>
    </div>

<!--     <div class="item item-body" style="padding: 0px">
      <ion-slide-box does-continue="true" auto-play="true" style="padding-bottom: 15px">
      <ion-slide>
        <img class="full-image" src="{{articleInput.image}}">
        {{img}}
      </ion-slide>
      </ion-slide-box>
    </div> -->

  </ion-content>
</ion-view>
