<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Token Claim</h1>
    <div class="buttons">
      <button class="button button-cross" ng-click="closeTokenClaim()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="item">
          Token: {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].TokenName}} <br>
          Info: {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].TokenMsg}} <br>
          Status: {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].ClaimStatus}}
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">

        <label class="item item-input item-floating-label">
          <span class="input-label">Token code</span>
          <input type="text" ng-model="TokenClaim.code" placeholder="enter token code...">
        </label>

        <button type="submit" class="button button-block button-balanced" ng-click="claimToken(TokenNumber, TokenClaim.code); closeTokenClaim()"> Claim Token 
        </button>

      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <button class="button button-block button-dark" ng-click="closeTokenClaim(); openHints(TokenNumber)" menu-close>Token Hints</button>
      </div>
    </div>

  </ion-content>

</ion-modal-view>