<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Token Hints: {{TokenNumber}}</h1>
    <div class="buttons">
      <button class="button button-cross button-dark" ng-click="closeHints()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <div class="cardflat item-text-wrap">

      <h4>Hints for Other Glyphs</h4>

      <div>
        <strong>Hint A :</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintA}} <br>
        <strong>Hint B :</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintB}} <br>
        <strong>Hint C :</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintC}} <br>
        <strong>Hint D :</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintD}} <br>
        <strong>Hint E :</strong> {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].HintE}} <br>
        <br>
      </div>

    </div>

    <div class="card">
      <div class="item item-text-wrap">
        <button class="button button-block button-dark" ng-click="closeHints(); openTokenClaim(TokenNumber)" menu-close>Glyph Claim</button>
      </div>
    </div>

  </ion-content>

</ion-modal-view>

