<ion-modal-view>

  <ion-header-bar>
    <h1 class="title"></h1>
    <div class="buttons">
      <button class="button button-cross button-positive" ng-click="closeTokenClaim()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <div class="card item-text-wrap">
      <h2>Glyph Information</h2>
      <div>
        <strong>Glyph Name :</strong> {{UserRecord[SelectedCity].Mission[SelectedMission].Token[TokenNumber].TokenName}} <br>
        <strong>Glyph Message :</strong> {{UserRecord[SelectedCity].Mission[SelectedMission].Token[TokenNumber].TokenMsg}} <br>
        <strong>Search Hints :</strong> {{UserRecord[SelectedCity].Mission[SelectedMission].Token[TokenNumber].SearchHints}} <br>
      </div>
    </div>

    <div class="card">
      <div class="item item-text-wrap" ng-class="{'validation-white' : glyphCodeSubmitMessage == 'ready' || glyphCodeSubmitMessage == 'submitting', 'validation-green' : glyphCodeSubmitMessage == 'unlocked', 'validation-red' : glyphCodeSubmitMessage == 'unsuccessful'}">
        <label class="item item-input item-floating-label">
          <div class="input-label no-wrap">Glyph code</div>
          <input type="text" ng-model="TokenClaim.code" placeholder="enter glyph code...">
        </label>
        <button type="submit" class="button button-block button-positive" ng-click="claimToken(TokenNumber, TokenClaim.code); codeSubmitMessage();"> Claim Glyph</button>
        <div ng-show="glyphCodeSubmitMessage == 'ready'">
          <h4 class="center-align"><br></h4>
        </div>       
        <div ng-show="glyphCodeSubmitMessage == 'submitting'">
          <h4 class="center-align">Submitting...</h4>
        </div>
        <div ng-show="glyphCodeSubmitMessage == 'unlocked'">
          <h4 class="center-align">Success!</h4>
        </div>
        <div ng-show="glyphCodeSubmitMessage == 'unsuccessful'">
          <h4 class="center-align">Wrong Code</h4>
        </div>
      </div>
    </div>

  </ion-content>

</ion-modal-view>