<ion-modal-view>

  <ion-header-bar>
    <h1 class="title">Token Hints: {{TokenNumber}}</h1>
    <div class="buttons">
      <button class="button button-cross" ng-click="closeHints()">Close</button>
    </div>
  </ion-header-bar>

  <ion-content>

    <div class="card">
      <div class="item item-text-wrap">
        <div class="item">
          Token: {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].TokenName}} <br>
          Status: {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].ClaimStatus}} <br>
          SearchHints: {{UserRecord[SelectedCity].Campaign[SelectedCampaign].Mission[SelectedMission].Token[TokenNumber].SearchHints}} <br>
        </div>
      </div>
    </div>

    <button class="button button-block " ng-click="closeHints(); openTokenClaim(TokenNumber)" menu-close>Token Claim</button>


  </ion-content>

</ion-modal-view>

