/* Empty. Add your own CSS if you like */


/* Token Claim Page Page Info Section--------------------------------------------------*/

.item-expand {
  position: relative;
  width: 100%;
  max-height: 40px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.item-expand.inactive:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 15px;
  width: 100%;
  display: block;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(1, rgba(255, 255, 255, 1))
  );
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.item-expand.active {
  max-height: 300px;
  transition: max-height 0.3s ease-out;
}

.item-expand-footer {
  color: orange;
  margin-top: 10px;
}

.item-expand-footer i {
  margin-right: 10px;
}

/* ---------------------------------------------------------*/



/* Profile Page--------------------------------------------------*/
.profile-background {
  position: fixed;
  left: 0;
	top: auto;
  width: 100%;
	height: 150px;
	background-size: 100%;
  background-position: 50% 20%;
	text-align: center;
}

.profile-content {
	position: relative;
  width: 100%;
	padding-top: 75px;
}

.profile-img {
	display: block;
  border-radius: 100px;
	border: 2px solid #fff;
  width: 128px;
	height: 128px;
  margin: 0px auto 0;
}

.profile-contentLeft {
  position: relative;
  width: 100%;
  height:230px;
  padding-top: 80px;
  text-align: left;
}

.profile-imgLeft {
  position: absolute;
  left: 15px;
  display: block;
  border-radius: 100px;
  border: 2px solid #fff;
  width: 128px;
  height: 128px;
  margin: 0px auto 0;
}

.profile-textLeft {
  position: absolute;
  left: 150px;
  top: 150px;
}


.profile-tab{
  position: absolute;
  top:400px;
}
/* ---------------------------------------------------------*/




/* SideMenu Page--------------------------------------------*/

.sidemenu-content {
  position: relative;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.sidemenu-avatar,
.sidemenu-avatar .item-content {
  padding-left: 60px;
  height: 60px; }
  .sidemenu-avatar > img:first-child,
  .sidemenu-avatar .sidemenu-image,
  .sidemenu-avatar .sidemenu-content > img:first-child,
  .sidemenu-avatar .sidemenu-content .sidemenu-image {
    position: absolute;
    border: 1px solid #fff;
    top: 16px;
    left: 16px;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    border-radius: 100%; }

/* ---------------------------------------------------------*/




/* listitem Page--------------------------------------------*/

.listitem-content {
  position: relative;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.listitem-avatar,
.listitem-avatar .item-content {
  padding-left: 60px;
  height: 60px; }
  .listitem-avatar > img:first-child,
  .listitem-avatar .listitem-image,
  .listitem-avatar .listitem-content > img:first-child,
  .listitem-avatar .listitem-content .sidemenu-image {
    position: absolute;
    border: 1px solid #fff;
    top: 16px;
    left: 16px;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    border-radius: 100%; }

/* ---------------------------------------------------------*/



/* article -------------------------------------------------*/
.cardflat {
  margin-top: 10px; 
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 20px; 
  box-shadow: 0 0.5px 0px rgba(0, 0, 0, 0.3);
}

/* ---------------------------------------------------------*/



/* Favourite Page--------------------------------------------*/

.list.half {
  display: inline-block;
  float: left;
  margin: 1%;
  padding: 0;
  width: 48%;
}

/* ---------------------------------------------------------*/


/* General -------------------------------------------------*/

/*.tabs {
  height: 30px;
  line-height: 30px; 
}     
*/
.noTopPadding { 
  padding-top: 0px;
}

.noButtomPadding { 
  padding-bottom: 0px;
}


.avatarCircle {
    position: relative;
    border: 1px solid #fff;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    border-radius: 100%; }

.avatarCircle2 {
    position: relative;
    border: 1px solid #fff;
    max-width: 45px;
    max-height: 45px;
    width: 100%;
    height: 100%;
    border-radius: 100%; }

.vcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ---------------------------------------------------------*/




/* Testing--------------------------------------------------*/

.shrinkableSubheader {
  top: 44px;
  height: 44px; }
}

.shrinkableHeader {
}

.bar2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 84px;
  border-width: 0;
  border-style: solid;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ddd;
  background-color: white;
  /* border-width: 1px will actually create 2 device pixels on retina */
  /* this nifty trick sets an actual 1px border on hi-res displays */
  background-size: 0; 
}

.baritem-content {
  
  width: 100%;
  padding-top: 0px;
  padding-left: 16px;
}

.baritem-avatar,
.baritem-avatar .baritem-content {
  padding-left: 44px;
  height: 44px; }
  .baritem-avatar > img:first-child,
  .baritem-avatar .baritem-image,
  .baritem-avatar .baritem-content > img:first-child,
  .baritem-avatar .baritem-content .baritem-image {
    position: absolute;
    border: 1px solid #fff;
    top: 0px;
    left: 16px;
    max-width: 44px;
    max-height: 44px;
    width: 100%;
    height: 100%;
    border-radius: 100%; }

.slider .slider-pager {
  bottom: 0px;
  font-size: 10px;
} 


.relative {
  .pane,
  .tabs,
  .scroll-content{
    position: relative; 
    top:auto;
  }
}
/* ---------------------------------------------------------*/



/* Cover Image with overlay ---------------------------------*/
.pictureFrame {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

.backgroundGradient {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,1));
}

.textShadow {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 22px;
  font-weight: 550;
  bottom: 10px;
  left: 10px;
  text-shadow: 1px 1px 2px black, 0 0 10px black;
}
/* ---------------------------------------------------------*/


/* Activities Page------------------------------------------*/

.articlesDetailsAbstract{
  height:100%; 
  padding-top: 0px; 
  padding-bottom: 5px;  
  margin-top: 0px; 
  margin-bottom: 0px; 
  border-bottom:0; 
  border-top: 0;
  font-size: 14px;
}




/* ---------------------------------------------------------*/

/* Restaurant Page------------------------------------------*/
.half {
  display: inline-block;
  float: left;
  margin: 1%;
  padding: 0;
  width: 48%;
}
.quarter {
  display: inline-block;
  float: left;
  margin: 0.5%;
  margin-top: 0%;
  margin-bottom: 0.2%;
  padding: 0;
  width: 24%;
}

.oneThird {
  display: inline-block;
  float: left;
  margin: 0.66%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0;
  width: 32%;
}


.twoThird {
  display: inline-block;
  float: left;
  margin: 0.33%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0;
  width: 66%;
}



.item-thumbnailLarge-left,
.item-thumbnailLarge-left .item-content {
  padding-top: 8px;
  padding-left: 160px;
  min-height: 100px; }
  .item-thumbnailLarge-left > img:first-child,
  .item-thumbnailLarge-left .item-image,
  .item-thumbnailLarge-left .item-content > img:first-child,
  .item-thumbnailLarge-left .item-content .item-image {
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    max-height: 100px;
    max-width: 140px;
    height: 100px;
    width: 100%;}

}