/* Empty. Add your own CSS if you like */


/* Token Claim Page Page Info Section--------------------------------------------------*/

.item-expand {
  position: relative;
  width: 100%;
  max-height: 40px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.item-expand.inactive:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 15px;
  width: 100%;
  display: block;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(1, rgba(255, 255, 255, 1))
  );
  background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.item-expand.active {
  max-height: 300px;
  transition: max-height 0.3s ease-out;
}

.item-expand-footer {
  color: orange;
  margin-top: 10px;
}

.item-expand-footer i {
  margin-right: 10px;
}

/* ---------------------------------------------------------*/



/* Profile Page--------------------------------------------------*/
.profile-background {
  position: fixed;
  left: 0;
	top: auto;
  width: 100%;
	height: 150px;
	background-size: 100%;
  background-position: 50% 20%;
	text-align: center;
}

.profile-content {
	position: relative;
  width: 100%;
	padding-top: 75px;
}

.profile-img {
	display: block;
  border-radius: 100px;
	border: 2px solid #fff;
  width: 128px;
	height: 128px;
  margin: 0px auto 0;
}

.profile-contentLeft {
  position: relative;
  width: 100%;
  height:230px;
  padding-top: 80px;
  text-align: left;
}

.profile-imgLeft {
  position: absolute;
  left: 15px;
  display: block;
  border-radius: 100px;
  border: 2px solid #fff;
  width: 128px;
  height: 128px;
  margin: 0px auto 0;
}

.profile-textLeft {
  position: absolute;
  left: 150px;
  top: 150px;
}


.profile-tab{
  position: absolute;
  top:400px;
}
/* ---------------------------------------------------------*/

/* SideMenu Page--------------------------------------------*/

.sidemenu-content {
  position: relative;
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.sidemenu-avatar,
.sidemenu-avatar .item-content {
  padding-left: 60px;
  height: 60px; }
  .sidemenu-avatar > img:first-child,
  .sidemenu-avatar .sidemenu-image,
  .sidemenu-avatar .sidemenu-content > img:first-child,
  .sidemenu-avatar .sidemenu-content .sidemenu-image {
    position: absolute;
    border: 1px solid #fff;
    top: 16px;
    left: 16px;
    max-width: 60px;
    max-height: 60px;
    width: 100%;
    height: 100%;
    border-radius: 100%; }

/* ---------------------------------------------------------*/

/* Basic ---------------------------------------------*/
.cardflat {
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: 5px; 
  margin-bottom: 5px; 
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  border-radius: 5px;
}

.pictureFrame {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;
}

.backgroundGradient {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,1));
}

.textShadow {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  position: absolute;
  text-align: right;
  color: white;
  font-size: 22px;
  font-weight: 550;
  bottom: 10px;
  left: 10px;
  text-shadow: 1px 1px 2px black, 0 0 10px black;
}
/* ---------------------------------------------------*/


/* Alignment------------------------------------------*/

.right-aligned {
  position: absolute;
  text-align: left;
  bottom: 5px;
  right: 5px;
}

.center-align {
  display: block;
  margin: auto;
  text-align: center;
}

.half {
  display: inline-block;
  float: left;
  margin-top: 0.1%;
  margin-bottom: 0.1%;
  margin-left: 1%;
  margin-bottom: 1%;
  padding: 0;
  width: 48%;
}
.quarter {
  display: inline-block;
  float: left;
  margin: 0.5%;
  margin-top: 0%;
  margin-bottom: 0.2%;
  padding: 0;
  width: 24%;
}

.oneThird {
  display: inline-block;
  float: left;
  margin: 0.66%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0;
  width: 32%;
}

.twoThird {
  display: inline-block;
  float: left;
  margin: 0.33%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding: 0;
  width: 66%;
}
